@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
	font-family: "Montserrat", sans-serif;
}

/* General css */
.webpart_heading {
  background: #2063a5;
  padding: 1rem 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.webpart_heading h5 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.webpart_heading ul li a {
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize !important;
}

.web_parts{
  display: flex;
  padding-bottom: 25px;
}

/* Scroll */

.slim_scroll::-webkit-scrollbar {
	width: 5px;
}
.slim_scroll::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #e4e3e3;
	border-radius: 0;
}
.slim_scroll::-webkit-scrollbar-thumb {
	background: #e4e3e3;
	border-radius: 0;
}

/* Navigation */
.main_navigation {
	padding: 1rem 0;
}
.main_navigation .navbar-brand {
	padding: 0px;
}
.main_navigation .navbar-nav .nav-item .nav-link {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  padding: 0rem 0.6rem;
}
.main_navigation .navbar-nav .nav-item .nav-link:hover {
	color: #f07e23;
}
.main_navigation .navbar-nav .nav-item .nav-link.active {
	color: #f07e23;
}
.main_navigation .navbar-toggler{
  border: unset;
  padding: 5px;
}
.main_navigation .navbar-toggler:active,
.main_navigation .navbar-toggler:focus,
.main_navigation .navbar-toggler:hover{
  box-shadow: unset;
}

.main_navigation .navbar-collapse{
  padding-top: 10px;
}

/* Banner */
.site_banner {
	position: relative;
}
.site_banner .bannerOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.site_banner .carousel-caption {
	text-align: left;
	padding: 0;
	top: 0;
	align-items: center;
	display: flex !important;
	height: 100%;
	left: 0;
	width: 100%;
	right: 0;
}
.site_banner .carousel-caption h1 {
  font-size: 40px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.site_banner .carousel-caption h5 {
	font-size: 24px;
}
.site_banner .carousel-caption p {
	font-size: 15px;
}
.site_banner .banner_image {
  max-height: 450px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.site_banner .orange_color {
	color: #f07e23;
	font-weight: 700;
}

/* Parco applications */
.parco_applications {
	background: #121c22;
	padding: 1rem 0;
	margin-bottom: 1.5rem;
}
.parco_applications .main_row {
	display: flex;
  justify-content: center;
}
.parco_applications .main_row .item {
	background: #ececf1;
	border-radius: 5px;
	padding: 0.8rem;
	text-align: center;
	margin: 0 0.2rem;
}
.parco_applications .main_row .item a{
  text-decoration: none;
}
.parco_applications .main_row .item a .item_img {
	height: 50px;
	align-items: center;
	display: flex;
	margin-bottom: 0.5rem;
}
.parco_applications .main_row .item a .item_img img {
	margin: 0 auto;
	width: 50px;
}
.parco_applications .main_row .item a h6 {
  color: #333;
  font-size: 15px;
  font-weight: 600;
}

/* Latest Announcements */
.latest_announcements{
  margin-bottom: 1.5rem;
}
.latest_announcements .announcements_listing {
  background: #fff;
  padding: 0.7rem 0rem 0rem 0rem;
  display: flex;
  gap: 0.7rem;
}
.latest_announcements .announcements_listing .announcements_thumbnail {
  width: 40%;
  height: 100%;
}
.latest_announcements .announcements_listing .announcements_thumbnail img {
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}
.latest_announcements .announcements_listing .announcements_items{
  width: 60%;
  max-height: 400px;
  overflow: auto;
  margin-top: 0px;
  padding-right: 10px;
}
.latest_announcements .announcements_listing .announcements_items ul{
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.latest_announcements .announcements_listing .announcements_items ul li{
  margin-bottom: 0.7rem;
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.latest_announcements .announcements_listing .announcements_items ul li a{
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.latest_announcements .announcements_listing .announcements_items ul li a:hover p{
  color: #f07e23;
}
.latest_announcements .announcements_listing .announcements_items ul li .image img{
  width: 110px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
}
.latest_announcements .announcements_listing .announcements_items ul li .content{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding-right: 5px;
}
.latest_announcements .announcements_listing .announcements_items ul li .content p{
  font-size: 14px;
  line-height: 17px;
  color: #000;
  font-weight: 500;
  margin-bottom: 0px;
}
.latest_announcements .announcements_listing .announcements_items ul li .content h6{
  font-size: 14px;
  line-height: 17px;
  color: #f07e23;
  font-weight: 500;
  margin-bottom: 0px;
}

/* Latest News & Events */
.news_events{
  margin-bottom: 1.5rem;
}
.news_events .news_listing {
  background: #fff;
  padding: 0.7rem 0rem 0rem 0rem;
  display: flex;
  gap: 0.7rem;
}
.news_events .news_listing .news_items{
  width: 100%;
  height: 100%;

  max-height: 400px;
  overflow: auto;
  margin-top: 0px;
  padding-right: 10px;
}
.news_events .news_listing .news_items ul{
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.news_events .news_listing .news_items ul li{
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.news_events .news_listing .news_items ul li a{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.news_events .news_listing .news_items ul li a:hover p{
  color: #f07e23;
}
.news_events .news_listing .news_items ul li .image img{
  width: 110px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
}
.news_events .news_listing .news_items ul li .content{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding-right: 5px;
}
.news_events .news_listing .news_items ul li .content p{
  font-size: 14px;
  line-height: 17px;
  color: #000;
  font-weight: 500;
  margin-bottom: 0px;
}
.news_events .news_listing .news_items ul li .content h6{
  font-size: 14px;
  line-height: 17px;
  color: #f07e23;
  font-weight: 500;
  margin-bottom: 0px;
}

/* Pulse */
.pulse{
  margin-bottom: 1.5rem;
}
.pulse .pulse_body img{
  width: 100%;
  height: 100%;
  margin-top: 0.7rem;
  height: 400px;
  object-fit: cover;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Recent events photos */
.recent_photos{
  margin-bottom: 1.5rem;
}
.recent_photos .photo_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-top: 0.7rem;
}
.recent_photos .photo_gallery img {
  width: 98px;
  height: 100px;
  object-fit: cover;
}

/* circulars */
.circulars{
  margin-bottom: 1.5rem;
}
.circulars .circulars_list{
  max-height: 310px;
  overflow: auto;
  margin-top: 0.7rem;
  padding-right: 0.7rem;
}
.circulars .circulars_list a{
  text-decoration: none;
  padding: 10px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #f7eded;
  margin-bottom: 5px;
}
.circulars .circulars_list a:hover{
  background-color: #f28c2312;
}
.circulars .circulars_list .circular_item h6{
  color: #f07e23;
  font-weight: 500;
  font-size: 14px;
}
.circulars .circulars_list .circular_item p{
  font-size: 14px;
  color: #000;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 0px;
}

/* Latest Updates */
.latest_updates{
  margin-bottom: 1.5rem;
}
.latest_updates .updates_list{
  max-height: 310px;
  overflow: auto;
  margin-top: 0.7rem;
  padding-right: 0.7rem;
}
.latest_updates .updates_list .update_item{
  width: 100%;
  display: flex;
  padding: 10px 0px 10px 10px;
  justify-content: space-between;
  border-bottom: 1px solid #f7eded;
}
.latest_updates .updates_list .update_item:hover{
  background-color: #f28c2312;
}
/* .latest_updates .updates_list .update_item:first-child{
  padding-top: 0px;
} */
.latest_updates .updates_list .update_item span{
  color: #f07e23;
  font-weight: 500;
  font-size: 14px;
}
.latest_updates .updates_list .update_item a{
  font-size: 14px;
  color: #000;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

/* Events Calendar */
.events_calendar{
  margin-bottom: 1.5rem;
}
.events_calendar .calendar_body{
  margin-top: 0.7rem;
}

/* Quick Links */
.quick_links{
  margin-bottom: 1.5rem;
}
.quick_links .links_body{
  max-height: 310px;
  overflow: auto;
  margin-top: 0.7rem;
  padding-right: 0.7rem;
}
.quick_links .links_body .link_item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 10px;
  border-bottom: 1px solid #f7eded;
}
.quick_links .links_body .link_item:hover{
  background-color: #f28c2312;
}
/* .quick_links .links_body .link_item:first-child{
  padding-top: 0px;
} */
.quick_links .links_body .link_item span{
  color: #f07e23;
  font-weight: 500;
  font-size: 14px;
}
.quick_links .links_body .link_item h6{
  margin-bottom: 0px;
}
.quick_links .links_body .link_item h6 a{
  font-size: 14px;
  color: #000;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

/* Poll */
.opinion_poll{
  margin-bottom: 1.5rem;
}
.poll_body{
  margin-top: 0.7rem;
}
.poll_body .question h6{  
  font-size: 14px;
  color: #000;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 15px;
}
.poll_body .select_option{
  list-style-type: auto;
  padding-left: 16px;
  margin-bottom: 15px;
}
.poll_body .select_option li{
  font-size: 14px;
  color: #000;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.poll_body .select_option li div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.poll_body .poll_submit{
  color: #000;
  font-size: 13px;
  font-weight: 500;
  background-color: #fff;
  padding: 5px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

footer {
	background: #121c22;
	padding: 0.5rem 0;
}
footer p{
  color: #fff;
  text-align: center;
  font-size: 15px;
  margin-bottom: 0px;
}

/* Inner Page */

.innerPage{
  display: flex;
  padding-bottom: 25px;
}
.innerPage .depart_tile{
  margin-bottom: 15px;
  cursor: pointer;
}
.innerPage .depart_tile .card-title{
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 500;
  color: #000;
}
.innerPage .depart_tile img{
  height: 150px;
  object-fit: cover;
}

/* Documents Library */

/* All documents  */
.all_documents{
  margin-bottom: 1.5rem;
}
.all_documents .departments_list{
  max-height: 310px;
  overflow: auto;
  margin-top: 0.7rem;
  padding-right: 0.7rem;
}
.all_documents .departments_list .circular_item h6{
  color: #f07e23;
  font-weight: 500;
  font-size: 14px;
}
.all_documents .departments_list .circular_item p{
  font-size: 14px;
  color: #000;
  font-weight: 500;
  line-height: 18px;
  border-bottom: 1px solid #f7eded;
  padding-bottom: 0.7rem;
  margin-bottom: 0.7rem;
}
.all_documents .departments_list ul{
  padding-left: 0px;
  list-style-type: none;
}
.all_documents .departments_list ul li{
  border-bottom: 1px solid #e5dada;
  line-height: normal;
  position: relative;
  font-weight: 500;
  padding: 8px 0px;
  font-size: 12px;
  color: #f07e23;
}
.all_documents .departments_list ul li.active{
  background-color: #f2f2f26e;
}
.all_documents .departments_list ul li.active a{
  color: #f07e23;
}
.all_documents .departments_list ul li  a{
  font-weight: 600;
  font-size: 15px;
  color: #121c22;
  text-decoration: none;
}
.all_documents .departments_list ul li a .arrow_icon{
  width: 20px;
}

/* Department Documents */
.depart_documents{
  margin-bottom: 1.5rem;
}
.depart_documents .doc_list{
  max-height: 310px;
  overflow: auto;
  margin-top: 0.7rem;
  padding-right: 0.7rem;
}
.depart_documents .doc_list .doc_item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  border-bottom: 1px solid #f7eded;
}
.depart_documents .doc_list .doc_item:first-child{
  padding-top: 0px;
}
.depart_documents .doc_list .doc_item span{
  color: #f07e23;
  font-weight: 500;
  font-size: 14px;
}
.depart_documents .doc_list .doc_item a{
  font-size: 14px;
  color: #000;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}
.depart_documents .doc_list .doc_item span{
  display: flex;
  gap: 10px;
}
.depart_documents .doc_list .doc_item span img{
  width: 15px;
  opacity: 0.5;
}