/* Mobile Small (Portrait) */
@media (max-width: 575px) {
  .main_navigation .navbar-brand img{
    width: 15rem;
  }
  .parco_applications .main_row {
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .parco_applications .main_row .item{
    margin: 0rem;
    padding: 0.6rem;
    width: 42%;
  }
  .site_banner .carousel-caption p{
    font-size: 13px;
  }
  .site_banner .carousel-caption h1 {
    font-size: 20px;
  }
  .site_banner .banner_image{
    height: 350px;
  }

  .latest_announcements .announcements_listing{
    display: flex;
    flex-direction: column;
  }
  .latest_announcements .announcements_listing .announcements_thumbnail {
    width: 100%;
    height: 150px;
  }
  .latest_announcements .announcements_listing .announcements_thumbnail img {
    height: 100%;
  }
  .latest_announcements .announcements_listing .announcements_items{
    width: 100%;
  }
  .pulse .pulse_body{
    background-color: #d2e5f2;
    margin-top: 10px;
  }
  .pulse .pulse_body img{
    height: 300px;
    object-fit: contain;
  }
  footer p{
    font-size: 12px;
  }
  .recent_photos .photo_gallery{
    display: block;
    width: 100%;
    height: 100%;
  }
  .recent_photos .photo_gallery a{
    width: 100%;
    height: 100%;
  }
  .recent_photos .photo_gallery a img {
    width: 32%;
    height: 100px;
    object-fit: cover;
    margin-bottom: 5px;
  }
  .latest_announcements .announcements_listing .announcements_items,
  .news_events .news_listing .news_items,
  .circulars .circulars_list,
  .latest_updates .updates_list{
    max-height: 280px;
  }
}

/* Mobile Large / Tablet Small */
@media (min-width: 576px) and (max-width: 767px) {  
  .container, 
  .container-sm {
    max-width: 740px;
  }
  .main_navigation .navbar-brand img{
    width: 15rem;
  }
  .parco_applications .main_row {
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .parco_applications .main_row .item{
    margin: 0rem;
    padding: 0.5rem;
    width: 20%;
  }
  .pulse .pulse_body{
    background-color: #d2e5f2;
    margin-top: 10px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pulse .pulse_body img{
    height: 300px;
    object-fit: contain;
  }
  .latest_announcements .announcements_listing .announcements_thumbnail{
    width: 30%;
  }
  .latest_announcements .announcements_listing .announcements_items{
    width: 70%;
  }
  .site_banner .carousel-caption p{
    font-size: 15px;
  }
  .site_banner .carousel-caption h1 {
    font-size: 25px;
  }
  .site_banner .banner_image{
    height: 350px;
  }
}

/* Tablet Large / Small Desktop */
@media (min-width: 768px) and (max-width: 991px) {
  .container, 
  .container-md, 
  .container-sm {
    max-width: 950px;
  }
  .main_navigation .navbar-brand img{
    width: 15rem;
  }
  .parco_applications .main_row {
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .parco_applications .main_row .item{
    margin: 0rem;
  }
  .pulse .pulse_body{
    background-color: #d2e5f2;
    margin-top: 10px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pulse .pulse_body img{
    height: 300px;
    object-fit: contain;
  }
  .latest_announcements .announcements_listing .announcements_thumbnail{
    width: 30%;
  }
  .latest_announcements .announcements_listing .announcements_items{
    width: 70%;
  }
  .site_banner .carousel-caption p{
    font-size: 16px;
    max-width: 75%;
  }
  .site_banner .carousel-caption h1 {
    font-size: 26px;
  }
  .site_banner .banner_image{
    height: 375px;
  }
}

/* Medium Desktop */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large Desktop */
@media (min-width: 1200px) and (max-width: 1399px) {
}

/* Extra Large Desktop */
@media (min-width: 1400px) {
}
